# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production Build
dist/
build/

# Environment Variables (IMPORTANT: Never push your live secrets!)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# OS related files
.DS_Store
Thumbs.db
